html {
    width: 100%;
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
    background-color: #F1F8E9;
}

button {
    outline: none;
}

#box {
    width: 430px;
    height: 430px;
    border-radius: 50%;
    margin: 0 auto;
    background-color: #333;
    box-shadow: 0px 0px 0px 20px #333;
    overflow: hidden;
    top: calc(50% - 215px);
    left: calc(50% - 215px);
    position: absolute;
}

#boxTop,
#boxBottom {
    width: 100%;
    height: 50%;
}

#green,
#red,
#yellow,
#blue {
    height: 98%;
    width: 48%;
    display: inline-block;
    float: left;
    outline: none;
    border: none;
}

#green {
    background-color: #1BBC9B;
    margin-right: 4%;
}

#red {
    background-color: #EF4836;
}

#yellow {
    margin-right: 4%;
    margin-top: 4%;
    background-color: #F5D76E;
}

#blue {
    background-color: #52B3D9;
    margin-top: 4%;
}

#boxCenter {
    width: 220px;
    height: 220px;
    position: absolute;
    border-radius: 100%;
    top: calc(50% - 110px);
    left: calc(50% - 110px);
    background-color: #ECE7EE;
    border: 12px solid #333;
    overflow: hidden;
}

#boxCenter * {
    padding: 0;
    margin: 0;
    text-align: center;
    display: inline-block;
    color: black;
}

#boxCenter h3 {
    width: 100%;
    font-size: 3.5em;
    font-weight: bolder;
    margin-top: 10%;
}

#buttonGroup {
    width: 80%;
    height: 37%;
    margin: 0 10%;
}

#buttonGroup>div {
    height: 100%;
}

#buttonGroup>div {
    font-size: 0.5em;
    font-weight: bold;
}

#count div:nth-child(1) {
    font-family: 'VT323', monospace;
    color: #DC0D29;
    font-size: 3em;
    font-weight: bolder;
    width: 100%;
    background-color: #32050C;
    border: 4px solid #222;
    border-radius: 20%;
    margin: auto;
    height: 55%;
    line-height: 1.5;
    margin: 10% 0 0 0;
    vertical-align: top;
}
#count>p {
        margin-top: 10%;
    }
#start button,
#strict button:nth-child(2) {
    width: 48%;
    height: 35%;
    border-radius: 50%;
    border: 3px solid #222;
    margin: 35% 0 10% 0;
    background-color: red;
    box-shadow: 0px 1px 2px 1px #32050C;
}

#strict button:nth-child(1) {
    width: 14%;
    height: 10.1%;
    background-color: #222;
    border-radius: 50%;
    display: block;
    margin: 10% auto 0;
    border: none;
}

#strict button:nth-child(2) {
    margin: 10% 0 10%;
    background-color: yellow;
}

#power {
    width: 50%;
    margin: 0 25%;
    height: 30px;
    font-size: 0.5em;
    font-weight: bold;
    cursor: pointer;
}

#powerbutton {
    width: 40%;
    height: 66%;
    background-color: #333;
    padding: 3%;
}

#powerbutton span {
    display: inline-block;
    width: 50%;
    height: 100%;
    float: left;
    background-color: #3193DE;
    border-radius: 3px;
}


@media screen and (max-width: 470px) {
    #box {
        width: 260px;
        height: 260px;
        top: calc(50% - 130px);
        left: calc(50% - 130px);
        box-shadow: 0px 0px 0px 15px #333;
    }
    #boxCenter {
        width: 130px;
        height: 130px;
        top: calc(50% - 65px);
        left: calc(50% - 65px);
        border: 8px solid #333;
        font-size: 0.7em;
    }
    #boxCenter h3 {
        font-size: 2.5em;
    }
    #boxCenter p,
    #power {
        font-size: 9px;
        -webkit-transform: scale(0.7);
        -o-transform: scale(1);
    }
    #count div:nth-child(1) {
        line-height: 1.5;
        text-align: center;
        font-size: 1em;
        margin-top: 5px;
    }
    #count>p {
        margin: -8px;
    }
    #power {
        width: 100%;
        margin: 0;
    }
}