body{
	width: 98%;
	height: 100%;
	background-color: #ecf0e7;
    font-family: 'Droid Serif', serif;
    font-size: 14px;
    color: #8ea7c2;
}
#box{
	width: 700px;
    background-color: #5c5457;
    margin:20px auto;
}
#title{
	color: #e1e1e6;
    padding: 5px 0 5px 15px;
}
#title h2{
	font-family: 'Oswald', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    margin: 15px 0px;
    font-size: 2.8em;
    display: inline-block;
}
#title ul{
	list-style-type: none;
	padding: 0;
	float: right;
	margin: 8px 0;
	width: 80px;
}
#title ul li{
	position: relative;
	list-style-type: none;
	font-size: 0.3em;
	background-color: #e1e1e6;
	color: #5c5457;
	width: 80px;
	height: 20px;
	margin: 3px 0;
	line-height: 20px;
	cursor: pointer;
}
#title ul li span{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #5c5457;
	display: inline-block;
	margin: 4px 2px 0px 4px;
	border: 1px solid grey;
}
#title .online span{
	background-color: #b8cca6;
}
#title .offline span{
	background-color: #8ea7c2;
}
#title ul li p{
	width: 59px;
	display: inline-block;
	margin: 0 3px 0 0;
	text-align: right;
	float: right;
	font-family: 'Oswald', sans-serif;
    font-size: 0.8em;
    font-weight: bold;
    text-transform: uppercase;
}
#content{
	padding: 0 0 10px 0;
	border-top: 2px solid #e1e1e6;
}
#content>div{
	width: 100%;
	height: 61px;
	margin: 0;
	padding: 0px;
	line-height: 61px;
	border-bottom: 2px solid #e1e1e6;
}

.logo{
	width: 50px;
	height: 50px;
	border-radius: 50%;
}
#content img{
	margin: 5px 20px 0;
}
#esl>div,#channel>div,#fcc>div{
	height: 61px;
	line-height: 61px;
	float: left;
}

.tvTitle{
	width: 100px;
	text-align: center;
	cursor: pointer;
}
.tvstatus{
	width: 450px;
	text-align: center;
}
.on{
	background-color:#b8cca6;
}
.on>.tvTitle{
	color: #4a5e82;
}
.on .tvstatus{
	color: #5c5457;
}
.off{
	background-color: #4a5e82;
}
.off .tvTitle{
	color: #b8cca6;
}
.off .tvstatus{
	color: #8ea7c2;
}