/*div{
	border: 1px solid red;
	}*/
	.box{
		}
	.titleback{
		width: 100%;
		height: 80px;
		background-color:#FFE4E1;
		position: fixed;
		z-index: 100;
		}
	.title{
		width: 1100px;
		height: 80px;
		background-color:#FFE4E1;
		position: fixed;
		z-index: 999;
		}
	.title img{
		width: 50px;
		height: 50px;
		margin-left: 20px;
		margin-top: 15px;
		}
	.title ul{
		float: right;
		list-style-type: none;
		margin-top: 18px;
		margin-right: 20px;
		padding-left: 0px;
		}
	.title ul li{
		display: inline;
		}
	.title ul li button{
		width: 123px;
		height: 40px;
		background-color: #FFE4E1;
		color: grey;
		font-weight: bold;
		letter-spacing: 2px;
		border: none;
		}
	.title ul li button a{
		text-decoration: none;
		}
	.center{
		width: 1100px;
		margin-left: auto;
		margin-right: auto;

		}
	.logo{
		width: 100%;
		background-color: grey;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
		align-content: center;
		align-items: center;
		padding: 180px 20px 100px;
		}
	.logo img{
		border-radius: 25%;
	}
	.text p:nth-child(1){
		font-size: 20px;
		text-align: center;
		color: white;
		}
	.logo hr{
		padding: 0;
    	border: none;
    	border-top: 5px double white;
    	color: grey;
    	text-align: center;
		}
	.logo hr:after{
		content: "$";
		color: white;
		display: inline-block;
		position: relative;
		top: -21px;
		font-size: 30px;
		background-color: grey;
		padding: 0 10px;
		}
	.text p:nth-child(3){
		font-size: 18px;
		text-align: center;
		color: white;
		}
	#btn{
		width: 40px;
		height: 40px;
		background-color: #FFE4E1;
		border: 1px solid #5F9EA0;
		color: #5F9EA0;
		font-size: 20px;
		font-weight: bold;
		float: right;
		margin-top: 20px;
		margin-right: 20px;
		outline: none;
		display: none;
	}
	#btn:hover{
		background-color: #D3D3D3;
	}
	.main{
		background-color: #fff0f5;
		width: 1100px;
		display: flex;
		flex-flow: column nowrap;
		align-content: center;
		overflow: hidden;
		padding: 70px 0px 0px;
		}
	.main h2{
		font-weight: bold;
		color: grey;
		text-align: center;
		}

	.main hr{
		padding: 0;
		border: none;
		border-top: 5px double grey;
		color: grey;
		text-align: center;
		width: 500px;
		}
	.main hr:after{
		content: "$";
		color: grey;
		display: inline-block;
		position: relative;
		top: -21px;
		font-size: 30px;
		background-color: #fff0f5;
		padding: 0 10px;
		}
	.main .row{
		margin-left: 40px;
		text-align: center;
		}
	.main .row:nth-child(5){
		margin-bottom: 70px;
		}
	.main .col-lg-6{
		margin-left: 30px;
		}
	.main img{
		width: 470px;
		margin-top: 50px;
		}
	.contact{
		border-top: 1px solid grey;
		padding-top: 50px;

		}
	.contact h2{
		margin-top: 50px;
		}
	.contact ul{
		list-style-type: none;
		padding: 0px;
		display: inline-block;

		}
	.contact .col-lg-6{
		margin:0px;
		padding: 0px;
		}
	.contact p{
		display: inline-block;
		font-size: 20px;
		padding: 30px 30px 10px;
		color: grey;
		}
	.contact p:nth-child(3){
		margin-top: 65px;
		}
	.contact input,textarea{
		border: none;
		width: 500px;
		height: 70px;
		border-bottom: 1px solid grey;
		background-color: #fff0f5;
		font-size: 25px;
		}
	.contact input,textarea:focus{
		outline: none;
		}
	.contact textarea{
		height: 150px;
		font-size: 25px;
		padding-top: 30px;
		}
	.contact ul li:nth-child(5){
		text-align: left;
		margin-top: 20px;
		}
	.contact button{
		width: 100px;
		height: 40px;
		display: inline;

		}
	.contact .row{
		margin-bottom: 0px;
		}
	.bottom{
		width: 100%;
		}
	.link{
		background-color: grey;
		padding: 60px 100px ;
		text-align: center;
		}

	.lian div{
		display: inline-block;
		width: 50px;
		height: 50px;
		background-color: grey;
		border-radius: 25px;
		border: 2px solid #fff;
		text-align: center;
		line-height: 47px;
		color: #fff;
		font-size: 12px;
		font-weight: bold;
		text-decoration: none;
		}
	.lian div:hover{
		background-color: #fff;
		color: #8B008B;
	}
	.link p{
		font-size: 20px;
		color: #fff;
		margin-top: 20px;
		}
	.link p:nth-child(2){
		font-size: 18px;
		}
	.link ul{
		list-style-type: none;
		overflow: hidden;
		text-align: center;
		padding: 0px;
		}
	.link ul li{
		list-style-type: none;
		margin-left: 10px;
		width: 70px;
		display: inline;
		}
	.link img:hover{
		opacity: 0.5;
		}
	.footer{
		width: 100%;
		height: 60px;
		background-color: #FFE4E1;
		font-size: 20px;
		text-align: center;
		padding-top: 20px;
		color: grey;
		}
	#backtop{
		width:45px;
		height: 45px;
		background-color: #E0FFFF;
		border-radius: 100%;
		position: fixed;
		bottom: 20px;
		right: 20px;
		font-size: 40px;
		
		outline: none;
		border: none;
	}
@media screen and (max-width: 1200px){
	.title,.center,.main{
		width: 100%;
		}
	.logo img{
		width: 50%;
		max-width: 350px;
		min-width: 200px;
		margin-top: 50px;
		}
	.main hr{
		max-width: 500px;
		min-width: 100px;
		width: 70%;
		}
	.main img{
		width: 80%;
		max-width: 470px;
		min-width: 200px;
		margin-top: 30px;
		}
	.main .col-lg-6{
		margin-left: 0px;
		}
	.main .row{
		margin: 0;
		text-align: center;
		}
	.contact ul{
		max-width: 500px;
		min-width: 50px;
		width: 90%;
	}
	.contact .col-xs-12{
		margin:10px;
		padding-top: 10px;
		}
	.contact p:nth-child(3){
		margin-top: 10px;
		}
	.link{
		padding: 40px 0px;
		}
}
@media screen and (max-width: 768px){
	#ul1{
		display: none;
	}
	#btn{
		display: inline;
	}
	
}